---
import "../styles/global.css";
import Header from '../components/Header.astro';

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@300;400;900&family=Rubik:wght@300&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ECOS Website</title>
	</head>
	
	<body>
        <Header />
        <h1>Map page</h1>
	</body>
</html> 