---
import "../styles/header.css";
---
<div class="nav-links">
    <img class="logo"src="/images/ecos-logo.png" >
    <a href="/">Home</a>
    <a href="/Map/">Map</a>
    <a href="/Resources/">Resources</a>
</div>  